# 기본 무시할 항목들
_mysql_config/
agent/
crawling/
log_api_v2/
log_dashboard/
send_job/
gcp_send_job/

# log_api 관련 파일 무시
log_api/.log_api/
log_api/mysql_config/
log_api/.env
log_api/ex.ipynb
log_api/lambda.py

# aws_send_job 관련 파일 무시
aws_send_job/GOOGLE_API/
aws_send_job/.env
aws_send_job/ex.ipynb
aws_send_job/ex.xlsx
aws_send_job/jhs_send_mail.py
